@import "tailwindcss";

@font-face {
  font-family: "Switzer";
  src: url("./fonts/Switzer-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Switzer";
  src: url("./fonts/Switzer-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Switzer";
  src: url("./fonts/Switzer-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Switzer";
  src: url("./fonts/Switzer-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Switzer";
  src: url("./fonts/Switzer-Semibold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Switzer";
  src: url("./fonts/Switzer-SemiboldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Switzer";
  src: url("./fonts/Switzer-Bold.woff") format("woff");
  font-weight: 700;
}

* {
  box-sizing: border-box;
  font-family: "Switzer", sans-serif;
}

body {
  background: #F2F0EF;
  color: #000000;
  height: 100%;
}